<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head th:replace="/home/header.html :: link">
    <meta charset="UTF-8">
    <title>Catalogo de Libros</title>
</head>
<body>
<div th:replace="/home/navbar.html :: nav"></div>
<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <h3>Catalogo de Libros</h3>
    <table class="table table-hover">
        <tr th:each="bcatalog: ${bcatalog}">
            <td th:text="${bcatalog.getTitle()}"></td>
            <td th:text="${bcatalog.getAuthor()}"></td>
            <td><a th:text="${bcatalog.getDescription()}"></a></td>
            <td th:text="${isbn}"></td>
            <!--            <td><a th:text="${bcatalog.getPrice()}"></a></td>-->
<!--            <td>-->
<!--                <form th:action="@{/addFavorites}" method="post">-->
<!--                    <input type="hidden" th:value="${bcatalog.getId()}" name="id_peli">-->
<!--                    <input type="submit" class="btn btn-secondary" value="Add to Favorites">-->
<!--                </form>-->
<!--            </td>-->
        </tr>
    </table>
</div>
<div th:replace="/home/footer.html :: script"></div>
</body>
</html>