<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head>
    <meta charset="UTF-8">
    <title>Catalogo de Ligros</title>
</head>
<body>
<div class="col-sm-12">
    <form  th:action="@{/profile}" method="GET">
        <input type="submit" value="Perfil">
    </form>
    <h3 class="center-pill">Books</h3>
    <table class="table table-hover">
        <tr th:each="bcatalog: ${bcatalog}">
            <td th:text="${bcatalog.getTitle()}"></td>
            <td th:text="${bcatalog.getAuthor()}"></td>
            <td><a th:text="${bcatalog.getDescription()}"></a></td>
        </tr>
    </table>
</div>
</body>
</html>