<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<head th:replace="/home/header.html :: link">
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
<div th:replace="/home/navbar.html :: nav"></div>
<div class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
    <table class="table table-hover">
        <thead>
        <tr>
            <td>Nombre:</td>
            <td th:text="${user.nombre}"></td>
        </tr>
        <tr>
            <td>Apellido:</td>
            <td th:text="${user.apellido}"></td>
        </tr>
        <tr>
            <td>Usuario:</td>
            <td th:text="${user.username}"></td>
        </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <h3 class="center-pill">Libros</h3>
    <form action="/profile">
        <button type="submit" class="btn btn-outline-success">Favorite movies</button>
    </form>
    <div th:each="libros: ${libros}" class="d-flex justify-content-center">
        <div class="card flex-md-row mb-4 box-shadow h-md-250" style="width: 800px;">

            <div class="card-body d-flex flex-column align-items-start">
                <h3 class="mb-0">
                    <p class="text-dark" th:text="${libros.getIdLibroApi()}"></p>
                </h3>

            </div>
        </div>
    </div>
</div>
<div th:replace="/home/footer.html :: script"></div>
</body>
</html>