<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace = "/home/header.html :: link">
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
<title th:text="${movie.getTitle()}"></title>
<style>
p{
margin-bottom: 0.3rem;
}
</style>
</head>
<body>
<div th:replace="/home/navbar.html :: nav"></div>
    <main role="main" class="col-md-9 ml-sm-auto col-lg-10 pt-3 px-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pb-2 mb-3 border-bottom">
            <h1 class="h2">Películas</h1>
        </div>
        <div class = "container mt-4">
            <div class="row">
                <div class="col-md-5">
                    <div class="row">
                        <div class="col-md-5">
                            <img class="img-fluid card-img-right flex-auto d-none d-md-block" style="height: 13rem;width: 10rem;" th:src="@{https://image.tmdb.org/t/p/w200/{image}(image=${movie.getPoster_path()})}" alt="Card image cap">
                        </div>
                        <div class="col-md-7">
                            <div class="d-flex flex-column align-items-start">
                                <h3 class="mb-0">
                                    <a class="text-dark" th:text="${movie.getTitle()}"></a>
                                </h3>
                                <div class = "mt-2 d-flex flex-row">
                                    <span data-feather="clock"></span><p class = "card-text ml-1" th:text=" ${movie.getRuntime()}"> </p>
                                    <p class = "card-text ml-1 mr-1">minutos</p>
                                </div>
                                <div class = "mt-2 mb-1 d-flex flex-row">
                                    <strong class="d-inline-block mr-1">Fecha de estreno:</strong>
                                    <p class = "card-text" th:text = "${movie.getRelease_date()}"></p>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-12">
                            <div class="d-flex flex-column align-items-start">
                                <strong class="d-inline-block mb-1 mt-2 text-info">Sinopsis</strong>
                                <p class="card-text mb-auto" th:text="${movie.getOverview()}"></p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class = "d-flex justify-content-center col-md-7">
                    <div class="card box-shadow text-center" style = "width: 800px;height:300px;">
                        <div class="card-body">
                            <h5 class="card-title">Puntaje</h5>
                            <h1 class = "display-1 your-choice-was per" th:text="${percentage}"></h1>
                        </div>
                        <div class="card-footer text-muted">
                            Tu valoración
                            <div class = "container ml-1">
                                <div class='starrr' id='star1'></div>
                                <div>&nbsp;
                                    <span class='your-choice-was' style='display: none;'>
                                    Tu rating fue de <span class='choice'></span>.
                                  </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </main>
<div th:replace="/home/footer.html :: script"></div>
<script src="/js/starrr.js"></script>
<script th:inline="javascript">
    $('#star1').starrr({
        change: function(e, value){
            if (value) {
                $('.your-choice-was').show();
                var seleccionado = $('.choice').text(value);
                var rating = {
                    idPeliApi:[[${movie}]].id,
                    idUsuario:[[${user}]].id,
                    rating_value:value
                };
                console.log(rating);
                var url =/*[[@{/saveRating}]]*/ '';
                $.ajax({
                    url:url,
                    data:JSON.stringify((rating)),
                    contentType: "application/json",
                    type:"POST",
                    success: function (string){
                        console.log(string);
                        $('.per').text(string);
                    }
                })
            } else {
                $('.your-choice-was').hide();
            }
        }
    });

</script>
    </body>
</html>