<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Perfil</title>
</head>
<body>
<table>
    <thead>
        <tr>
            <td>Nombre:</td>
            <td>Apellido:</td>
            <td>Usuario:</td>
        </tr>
    </thead>
    <tbody>
        <tr>
            <span th:utext="${successMessage}"></span>
            <td th:text="${user.nombre}"></td>
            <td th:text="${user.apellido}"></td>
            <td th:text="${user.username}"></td>
        </tr>
    </tbody>
</table>
<h3 class="center-pill">Movies</h3>
<table class="table table-hover">
    <tr th:each="favMovies: ${favMovies}">
        <td><img th:src="@{https://image.tmdb.org/t/p/w200/{image}(image=${favMovies.getPoster_path()})}"></td>
        <td th:text="${favMovies.getTitle()}"></td>
        <td th:text="${favMovies.getOriginal_title()}"></td>
        <td><a th:text="${favMovies.getOverview()}"></a></td>
        </td>


    </tr>
</table>
</body>
</html>